.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 60px;
  line-height: 72px;
}

.subTitle {
  font-size: 26px;
  line-height: 32px;
  margin-top: 16px;
}
