.wrapper {
  padding: 120px 150px 135px;
  background-color: var(--color-primary);
  color: white;
  display: grid;
  gap: 80px;
  border-radius: 50px;
  margin-top: 120px;
}

.title {
  text-align: center;
  letter-spacing: 0.01em;
}
