.wrapper {
  padding: 88px 144px;
  background-color: var(--color-primary);
  border-radius: 50px;
  color: white;
  margin-top: 120px;
  box-shadow: 0 16px 64px -6px rgb(88 73 106 / 10%), 0 8px 24px -4px rgb(88 73 106 / 20%);
  text-align: center;
}

.social {
  margin-top: 88px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 118px;
}

.socialItem {
  display: inline-grid;
  gap: 24px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  line-height: 24px;
  grid-template-columns: max-content auto;
}
