.wrapper {
  display: grid;
  gap: 32px;
}

.wrapper::after {
  position: absolute;
  width: 24px;
  height: 24px;
  left: -110px;
  border-radius: 50%;
  content: "";
  background-color: white;
}

.wrapper::before {
  position: absolute;
  left: -100px;
  border-right: 2px solid rgb(211 179 252 / 49%);
  content: "";
  height: calc(100% + 96px);
  width: 1px;
}
