.wrapper {
  display: grid;
  gap: 88px;
  margin-top: 120px;
}

.cards {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 32px;
  padding: 0 152px;
}

.title {
  text-align: center;
}
