.wrapper {
  display: flex;
  flex-direction: column;
}

.cards {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 32px;
}

.title {
  text-align: center;
  font-size: 40px;
  line-height: 48px;
}
